body {
  font-size: 1.2rem;
  font-family: sans-serif;
  background: #222;
  color: #eee;
}

button {
  margin-top: 1rem;
  cursor: pointer;
  background: #000;
  border: none;
  border-radius: 0.5em;
  color: #eee;
  padding: 0.4rem 0.6rem;
  font-size: 0.9rem;
  outline: none;
}

button:hover {
  background: #444;
}

.link {
  color: red;
}

.Page {
  margin-top: 2rem;
}

code {
  display: block;
  margin-top: 3rem;
}

.active {
  color: orange;
}
